<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="RenderPreview">
		<size>270,192</size>
		<bg>wxSYS_COLOUR_APPWORKSPACE</bg>
		<minsize>200,200</minsize>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxButton" name="ID_BUTTONPLAY" variable="ButtonPlay" member="yes">
			<label>Play</label>
			<pos>0,112</pos>
			<size>32,23</size>
			<handler function="OnButtonPlayClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONPAUSE" variable="ButtonPause" member="yes">
			<label>Pause</label>
			<pos>32,0</pos>
			<size>40,23</size>
			<handler function="OnButtonPauseClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONSTOP" variable="ButtonStop" member="yes">
			<label>Stop</label>
			<pos>72,0</pos>
			<size>40,23</size>
			<handler function="OnButtonStopClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
