<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="VideoBrowser">
		<size>321,381</size>
		<bg>wxSYS_COLOUR_APPWORKSPACE</bg>
		<minsize>200,400</minsize>
		<maxsize>-1,-1</maxsize>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxTAB_TRAVERSAL|wxCLIP_CHILDREN</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>1</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxListCtrl" name="ID_LISTCTRL1" variable="ListCtrl1" member="yes">
					<size>198,202</size>
					<fg>wxSYS_COLOUR_CAPTIONTEXT</fg>
					<bg>wxSYS_COLOUR_APPWORKSPACE</bg>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
